/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* Variables */
:root {
  /* Color */
  --bg-primary: #0a0d10;
  --bg-secondary: #1b222a;
  --bg-tertiary: #fff;

  --gray-700: #252e38;
  --gray-600: #2e3947;
  --gray-500: #374455;
  --gray-400: #3d4c5e;
  --gray-300: #c3c8cd;
  --gray-200: #e2e4e7;
  --gray-100: #fdfdfd;

  --white: #fff;
  --green: #21e6c1;
  --blue: #1f4287;

  /* Fonts */
  font-size: 62.5%; /* 1rem = 10px */

  --big-font: 6.4rem;
  --large-font: 4.8rem;
  --medium-font: 3.2rem;
  --small-font: 2.4rem;
  --little-font: 1.8rem;

  /* Box Shadow */
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.35);
  --box-shadow-2: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  list-style: none;
  text-decoration: none;
}
section {
  width: 100%;
  height: 100vh;
  font-size: 2.4rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
.home {
  color: var(--white);
  background-color: var(--bg-primary);
  position: relative;
}
.home .image {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Header */
header {
  width: 100%;
  height: 90px;
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  background-color: #21e6c1;
}
.main__container {
  width: 100%;
  height: calc(100vh - 90px);
  padding: 2rem 5%;
  background-color: #1f4287;
}
.content {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: cadetblue;
}
.content-left {
  flex: 1;
  border: 2px solid white;
}
.social {
  flex: 1;
  height: 100%;
  border: 5px solid coral;
}
.text {
  flex: 4;
  height: 100%;
  display: flex;
  align-items: center;
  border: 5px solid cornflowerblue;
}

.content-right {
  flex: 1;
  border: 2px solid red;
}

/* About */
.about {
  position: relative;
  color: var(--white);
  background-color: var(--bg-secondary);
}
.about .top {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.about .bottom {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Timeline */
.timeline {
  color: var(--gray-600);
  background-color: var(--bg-tertiary);
  position: relative;
}
.timeline .time-top {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
/* Project */
.project {
  color: var(--white);
  background-color: var(--bg-secondary);
  position: relative;
}
.project .bottom {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Skills */
.skills {
  color: var(--white);
  height: 30vh;
  background: url(../img/bd/teclado.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
/* Contact */
.contact {
  position: relative;
  color: var(--gray-700);
  background-color: var(--bg-tertiary);
}
.contact .top {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
/* footer */
.footer {
  height: 10vh;
  color: var(--white);
  background-color: var(--bg-secondary);
}

/* --- Independent Components --- */

.btn-social img {
  width: 20px;
  height: 20px;
}

.btn-social ul li a {
  width: 45px;
  height: 45px;
  background-color: var(--green);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 4px 0;
}
.btn-social ul li a:hover {
  border: 3px solid var(--green);
  transition: 0.4s ease-in-out;
  transform: translateY(-6px);
  /* transform: scale(1.2); */
  background-color: var(--white);
}

/* --- Responsividade --- */

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .content-left {
    flex-direction: column;
  }
  .social {
    width: 100%;
  }
  .text {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 420px) {
}
